/*公共样式*/
html,body{
	font-size:12px;
	font-family:"Microsoft Yahei";
}
/*清除浮动（用在父级）*/
.clearfix {
    	*zoom: 1;
}
.clearfix:after {
    	content: '';
    	display: table;
    	clear: both;
}
.cell {
    	display: table-cell; width: 9999px;
    	*display: inline-block; *width: auto;
}
.cell2{
	overflow:hidden;
}
.lfloat{
	float:left;
}
.rfloat{
	float:right;
}
.text-overflow{
	overflow: hidden; 
    	text-overflow: ellipsis;
    	white-space: nowrap;
}
p,ul{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.a-box,.a-box:hover{
	position:relative;
	display:block;
	text-decoration: none;
}
ul li{
	list-style:none;
}
.centerbox{
	position:relative;
	width:1200px;
	margin:auto;
}

/******************主页样式*****************/

/*hearder样式*/
.Public-hearder{
	margin-bottom: 20px;
}
.Public-hearder-topnav{
	height:30px;
	border-bottom:1px solid #f2f1f1;
	background:#fbfbfc;
}
.Public-hearder-topnav .Public-hearder-topnav-l{
	display:block;
	height:30px;
	line-height:30px;
	font-size:12px;
}
.Public-hearder-topnav .Public-hearder-topnav-r{
	position:absolute;
	right:60px;top:7px;
}
.Public-hearder-topnav .Public-hearder-topnav-r li{
	float:left;
	border-right:1px solid #ccc;
	padding:0 8px;
	color:#404040;
}
.Public-hearder-topnav .Public-hearder-topnav-r li a{
	position:relative;
	display:block;
	text-align:center;
	height:16px;
	line-height:16px;
	padding-left:16px;
	color:#404040;
}
.Public-hearder-topnav .Public-hearder-topnav-r li .nopadding{
	padding:0;
}
.Public-hearder-topnav .Public-hearder-topnav-r li a .icon{
	position:absolute;
	left:0; top:0;
	display:block;
	width:16px; height:16px;
}
.weixin{ background:url(../images/icons/weixin-logo.png) center no-repeat;}
.weibo{ background:url(../images/icons/weibo-logo.png) center no-repeat;}
.shoucang{ background:url(../images/icons/shoucang.png) center no-repeat;}
.help{ background:url(../images/icons/bangzhu.png) center no-repeat;}


.Public-hearder-middle .marginbox{
	height:60px;
	padding-top: 30px;
}
.Public-hearder-middle-logo{
	position:absolute;
	top:0; left:0;
	width:150px; height:100%;
	background:#333;
}
.Public-hearder-middle-search{
	position:relative;
	margin: auto;
	width:50%;
	border:1px solid #ff8800;
}
.Public-hearder-middle-search .search-left{
	position:absolute;
	left:0; top:0;
	width:64px; height:30px;
	background:#f9f9f9;
	z-index: 10;
}
.Public-hearder-middle-search .search-left .search-left-list{
	position:relative;
	padding-right: 24px;
	height:30px;
	text-align: center;
	line-height: 30px;
	border-right:1px solid #e8e8e6;
	cursor:pointer;
}
.Public-hearder-middle-search .search-left .search-left-list .list-updownbtn{
	position:absolute;
	top:13px;right:10px;
	display:block;
	width:10px; height:4px;
}
.Public-hearder-middle-search .search-left .search-left-list .list-updownbtn:hover{
	transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);
}
.Public-hearder-middle-search .search-left .search-left-list .list-updownbtn:before{
	position:absolute;
	left:0;right:0;
	margin:auto;
	z-index: 10;
	display:block;
	content:"";
	width:6px; height:6px;
	background:#dbdbdb;
	transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);
}
.Public-hearder-middle-search .search-left .search-left-list .list-updownbtn:after{
	position:absolute;
	left:0;right:0;
	margin:auto;
	top:2px;
	z-index: 20;
	display:block;
	content:"";
	width:6px; height:6px;
	background:#f9f9f9;
	transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);
}
.Public-hearder-middle-search .search-left .search-left-ment{
	display:none;
}
.Public-hearder-middle-search .search-middle{
	width:100%; height:30px;
	position:relative;
}
.Public-hearder-middle-search .search-middle .search-middle-input{
	width:100%; height:100%;
	border:none;
	background:#fff;
	outline:none;
	padding:0 76px 0 84px;
	box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;
}
.Public-hearder-middle-search .search-middle .searchicon{
	position:absolute;
	top:0;left:64px;
	display:block;
	width:20px; height:100%;
	background:url("../images/icons/search-1.png") center no-repeat;
}
.Public-hearder-middle-search .search-right{
	position:absolute;
	right:-1px; top:0;
	width:76px; height:30px;
}
.Public-hearder-middle-search .search-right #submit-btn{
	width:100%; height:100%;
	background:#ff8800 url("../images/icons/search.png") center no-repeat;
	border:none;
	outline:none;
}
.Public-hearder-middle-search .search-right #submit-btn:hover{
	background-color:#D87B0C;
}
.Public-hearder-middle-hotphone{
	position:absolute;
	top:25px; right:0;
}
.Public-hearder-middle-hotphone p:first-child{
	padding-left: 24px;
	height:21px;
	line-height: 21px;
	background:url("../images/icons/24hour.png") left no-repeat;
}
.Public-hearder-middle-hotphone p:last-child{
	height:21px;
	line-height: 21px;
	font-size: 18px;
	color:#f97300;
}
.Public-hearder-middle-hotphone p:first-child .hour{
	color:#f97300;
}


.Public-hearder-bottomnav{
	border-bottom: 3px solid #5d5cb9;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-ment{
	float:left;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-ment a{
	display:block;
	position:relative;
	width:220px; height:48px;
	background:#6666cc;
	text-align:center;
	font-size: 16px;
	line-height: 48px;
	color:#fff;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-ment a:hover{
	text-decoration: none;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-ment a .ment-icon{
	content:"";
	display:block;
	position:absolute;
	left:12px;top:19px;
	width:14px; height:10px;
	background:url("../images/icons/nav-ment.png");
	opacity:.7;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list{
	float:left;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list li{
	float:left;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list li:hover{
	background:#6666cc;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list li:hover a{
	color:#fff;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list li a:hover{
	text-decoration: none;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list .active{
	font-weight: bold;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list li a{
	padding:0 15px;
	height: 48px;
	line-height: 48px;
	font-size: 16px;
}
.Public-hearder-bottomnav .Public-hearder-bottomnav-list li:first-child{
	margin-left: 8px;
}



/*active样式*/

/*active下banner样式*/
.active-banner{

}
.active-banner .active-banner-left{
	width:940px; height:336px;
	position:relative;
	float:left;
}
.active-banner .active-banner-left .active-banner-left-img{
	position:relative;
	width:940px; height:336px;
}
.active-banner .active-banner-left .active-banner-left-img li{
	position:absolute;
	opacity: 0;
	transition:all 1s linear;-webkit-transition:all 1s linear;-moz-transition:all 1s linear;-o-transition:all 1s linear;
}
.active-banner .active-banner-left .active-banner-left-img .active{
	opacity: 1;
}
.active-banner .active-banner-left .active-banner-left-img li a img{
	width:940px; height:336px;
}
.active-banner .active-banner-left .active-banner-left-ment{
	position:absolute;
	bottom:0;
}
.active-banner .active-banner-left .active-banner-left-ment li{
	width:184px; height:30px;
	margin-right: 5px;
	float:left;
	background:rgba(255,255,255,.5);
	font-family: "Hsong";
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	transition:all 1s linear;-webkit-transition:all 1s linear;-moz-transition:all 1s linear;-o-transition:all 1s linear;
}
.active-banner .active-banner-left .active-banner-left-ment li:last-child{
	margin:0;
}
.active-banner .active-banner-left .active-banner-left-ment .active{
	background:rgba(0,0,0,.5);
	color:#fff;
}
.active-banner .active-banner-right{
	float:right;
	width:250px; height:336px;
	background:#f0f0ef;
}
.active-banner .active-banner-right h2{
	font-size: 18px;
	color:#6666cc;
	font-family: "Hsong";
	margin:0;
	padding:12px 0 12px 15px;
	border-top: 3px solid #5d5cb9;
}
.active-banner .active-banner-right .active-banner-right-img li{
	float:left;
	margin-bottom: 10px;
}
.active-banner .active-banner-right .active-banner-right-img img{
	display:block;
	width:250px; height:89px;
}
.active-banner .active-banner-right .active-banner-right-img li:last-child img{
	margin:0;
}


.active-column{
	position:relative;
}
.active-column .active-column-title{
	height:38px;
	line-height: 38px;
	border-bottom: 2px solid #ccc;
	font-size: 20px;
	font-family: "Hsong";
	color:#221815;
	margin:20px 0 10px;
}
.active-column-title~.div{
	position:absolute;
	top:0; left:215px;
}
.active-column-title~.div>.one,.active-column-title~.div>.two{
	display:inline-block;
	height:38px;
	line-height: 38px;
	font-size: 18px;
	padding:0 10px;
	margin-right: 25px;
	cursor: pointer;
}
.active-column-title~.div>.onfoucs{
	border-bottom: 2px solid #6666cc;
	color:#6666cc;
}
.active-column .active-column-content{
	width:100%;
}

.content-middle{
	margin:0 5px;
	padding-left: 15px;
	border-bottom: 1px solid #f1f1f1;
}
.content-middle .content-middle-name{
	color:#333;
	font-size:16px;
	margin:10px 0;
}
.content-middle .content-middle-details{
	color:#7a7a7a;
}
.content-middle .content-middle-time{
	position:relative;
	color:#f97300;
	font-family: "Hsong";
	height:30px;
	line-height: 30px;
	padding:0 90px 0 15px;
	margin:5px 0;
}
.content-middle .content-middle-time:before{
	position:absolute;
	top:8px; left:0;
	content:"";
	display:block;
	width:10px; height:10px;
	background:url("../images/icons/clock.png") center no-repeat;
}
.content-middle .content-middle-time .money{
	position:absolute;
	top:0; right:40px;
}
.content-middle .content-middle-time .money>span:nth-child(1){
	font-size: 18px;
}
.content-middle .content-middle-time .money>span:nth-child(2){
	font-size: 26px;
}

.content-bottom{
	margin:0 5px;
	padding-left: 30px;
}
.content-bottom .content-bottom-tittle{
	position:relative;
	font-size: 16px;
	color:#333;
	margin:0;
	margin-top: 10px;
}
.content-bottom .content-bottom-tittle:before{
	content:"";
	display:block;
	position:absolute;
	left:-30px;top:0;
	width:30px; height:21px;
	background:url("../images/icons/title-icon.png") center no-repeat;
}
.content-bottom .content-bottom-productmerit{
	margin:10px 0;
}
.content-bottom .content-bottom-productmerit li{
	height:20px;
	line-height: 20px;
	color:#7a7a7a;
	overflow: hidden; 
    	text-overflow: ellipsis;
    	white-space: nowrap;
}
.content-bottom .more{
	height:18px;
	position:relative;
}
.content-bottom .more:after{
	position:absolute;
	right:18px;top:0;
	content:">>详情";
	display:block;
	height:18px;
	line-height: 18px;
	color:#7474d0;
}

.active .top-column{
	
}
.active .top-column .top-column-left{
	float:left;
	height:478px;width:348px;
	border:1px solid #f97300;
}
.active .top-column .top-column-left .product-img{
	width:348px; height:236px;
}

.content{
	padding:0 5px;
}
.content .content-name{
	font-size: 12px;
	color:#333;
	height:18px;
	line-height: 18px;
	margin:0;
	margin-top: 8px;
}
.content .content-details{
	font-size: 12px;
	color:#999;
}
.content .content-time{
	position:relative;
	color:#f97300;
	font-family: "Hsong";
	height:30px;
	line-height: 30px;
	padding:0 55px 0 15px;
}
.content .content-time:before{
	position:absolute;
	top:10px; left:0;
	content:"";
	display:block;
	width:10px; height:10px;
	background:url("../images/icons/clock.png") center no-repeat;
}
.content .content-time .money{
	position:absolute;
	top:0; right:20px;
}
.content .content-time .money>span:nth-child(2){
	font-size: 18px;
	font-weight: bold;
}
.active .top-column .top-column-right{
}
.active .top-column .top-column-right .widthbox{
	width:870px;
}
.active .top-column .top-column-right .product-img{
	width:272px; height:160px;
}
.active .top-column .top-column-right .top-column-right-product{
	width:272px; height:233px;
	float:left;
	display:block;
	overflow: hidden;
	border:1px solid #e5e5e5;
	margin-left: 9px;
}
.active .top-column .top-column-right .top-column-right-product:hover{
	border:1px solid #f97300;
}
.top-column-right-product:nth-child(1),.top-column-right-product:nth-child(2),.top-column-right-product:nth-child(3){
	margin-bottom: 10px;
}


.middle-column .province-product{
	display:block;
	width:393px;
	box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;
	border:1px solid #e5e5e5;
	margin-right: 10px;
	margin-bottom: 10px;
}
.middle-column .active,.middle-column .province-product:hover{
	border:1px solid #6666cc;
}
.middle-column .province-product:nth-child(3),.middle-column .province-product:nth-child(6){
	margin-right:0;
}
.middle-column .province-product:nth-child(4),.middle-column .province-product:nth-child(5),.middle-column .province-product:nth-child(6){
	margin-bottom: 0;
}
.province-product .province-product-top{
	position:relative;
}
.province-product .province-product-top .product-img{
	width:100%; height:235px;
}
.province-product .province-product-top .product-div{
	position:absolute;
	left:0; bottom:0;
	width:100%; height:32px;
	background:rgba(35,24,21,.6);
	color:#f99200;
}
.province-product .province-product-top .product-div .product-div-money{
	font-size: 12px;
	padding-left: 14px;
}
.product-div-money .money{
	font-size: 22px;
	line-height: 32px;
}
.province-product .province-product-top .product-div .product-div-date{
	color:#fff;
	line-height: 32px;
	padding-right: 10px;
}
.province-product .province-product-title{
	font-size: 16px;
	color:#333;
	line-height: 1;
	margin:10px 0;
	padding-left: 10px;
}
.province-product .province-product-details{
	color:#7a7a7a;
	line-height: 18px;
	margin-bottom: 12px;
	padding-left: 10px;
	padding-right: 12px;
}



.bottom-column a>.introduce{
	position:absolute;
	bottom:0;left:0;
	width:100%;
	line-height: 24px;
	text-align: center;
}
.bottom-column a>.introduce span:first-child{
	display:block;
	font-size: 20px;
	color:#fff;
}
.bottom-column a>.introduce span:last-child{
	display:block;
	font-size: 18px;
	color:#fff;
}

.bottom-column .a-1>.introduce{
	background:#ffa54f;
}
.bottom-column .a-2>.introduce{
	background:#315dca;
}
.bottom-column .a-3>.introduce{
	background:#ff4338;
}
.bottom-column .a-4>.introduce{
	background:#669209;
}
.bottom-column .a-5>.introduce{
	background:#cb9a33;
}
.bottom-column .a-6>.introduce{
	background:#996334;
}
.bottom-column .a-1>img{
	width:236px; height:375px;
}
.bottom-column .a-2>img{
	width:462px; height:180px;
}
.bottom-column .a-3>img{
	width:235px; height:180px;
}
.bottom-column .a-4>img{
	width:235px; height:180px;
}
.bottom-column .a-5>img{
	width:462px; height:180px;
}
.bottom-column .a-6>img{
	width:236px; height:375px;
}
.bottom-column>.active-column-title{
	margin-bottom: 10px;
}
.bottom-column .a-box{
	margin:0 10px 10px 0;
}
.bottom-column .a-6{
	margin-right: 0;
}


/*脚注*/
.footer-top{
	margin-top: 35px;
}
.footer-top li{
	float:left;
	margin-right: 3px;
}
.footer-top li>a{
	display:block;
	width:106px;
}
.footer-top li:hover>a>h5{
	color:#ffa54f;
}
.footer-top li>a>.icon{
	display:block;
	margin:auto;
	width:56px; height:56px;
	border:1px solid #6666cc;
	border-radius: 50%;
}
.footer-top li:nth-child(1)>a>.icon{
	background:url("../images/icons/footer-10.png") center no-repeat;
}
.footer-top li:nth-child(2)>a>.icon{
	background:url("../images/icons/footer-9.png") center no-repeat;
}
.footer-top li:nth-child(3)>a>.icon{
	background:url("../images/icons/footer-8.png") center no-repeat;
}
.footer-top li:nth-child(4)>a>.icon{
	background:url("../images/icons/footer-11.png") center no-repeat;
}
.footer-top li:nth-child(5)>a>.icon{
	background:url("../images/icons/footer-3.png") center no-repeat;
}
.footer-top li:nth-child(6)>a>.icon{
	background:url("../images/icons/footer-7.png") center no-repeat;
}
.footer-top li:nth-child(7)>a>.icon{
	background:url("../images/icons/footer-2.png") center no-repeat;
}
.footer-top li:nth-child(8)>a>.icon{
	background:url("../images/icons/footer-4.png") center no-repeat;
}
.footer-top li:nth-child(9)>a>.icon{
	background:url("../images/icons/footer-1.png") center no-repeat;
}
.footer-top li:nth-child(10)>a>.icon{
	background:url("../images/icons/footer-6.png") center no-repeat;
}
.footer-top li:nth-child(11)>a>.icon{
	background:url("../images/icons/footer-5.png") center no-repeat;
}

.footer-top li>a>h5{
	font-size: 16px;
	color:#555;
	text-align: center;
	line-height: 1;
	margin:10px 0; 
}

.footer-bottom{
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 30px;
}
.footer-bottom .reference{
	font-family: "Hsong";
	color:#6a6a6a;
	text-align: center;
	margin-bottom: 10px;
}
.footer-bottom .friendhref li{
	float:left;
	font-family: "Hsong";
	margin-right: 14px;
}
.footer-bottom .friendhref li:first-child{
	color:#6a6a6a;
}
.footer-bottom .friendhref li>a{
	color:#999;
}